@model Site_MVC_FinTech.Models.Pessoa

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <table class="form-group">
        @Html.HiddenFor(model => model.Sta_Adm)
        <tr>
            <td>@Html.LabelFor(model => model.Usuario, new { @class = "col-md-2 control-label" })</td>
            <td>
                @Html.ValidationMessageFor(model => model.Usuario)
                @Html.TextBoxFor(model => model.Usuario, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Senha, new { @class = "col-md-2 control-label" })</td>
            <td>
                @Html.ValidationMessageFor(model => model.Senha)
                @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right"><input type="submit" value="Login" /></td>
        </tr>
    </table>

    <a class="btn btn-default" href="~/Home/Index">Voltar para Cliente</a>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}