@model Site_MVC_FinTech.Models.Noticia

@{
    ViewBag.Title = "Noticia";
}

<h2>Cadastrar Noticia</h2>

@using (Html.BeginForm())
{
    <table class="form-group">
        @Html.HiddenFor(model => model.IDNoticia)
        <tr>
            <td colspan="2">@ViewBag.Mensagem </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Titulo, new { @class = "col-md-2 control-label" })</td>
            <td>
                @Html.ValidationMessageFor(model => model.Titulo)
                @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Materia, new { @class = "col-md-2 control-label" })</td>
            <td>
                @Html.ValidationMessageFor(model => model.Materia)
                @Html.TextBoxFor(model => model.Materia, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Imagem, new { @class = "col-md-2 control-label" })</td>
            <td>
                @Html.ValidationMessageFor(model => model.Imagem)
                @Html.TextBoxFor(model => model.Imagem, new { @class = "form-control" })
            </td>
            @*<td>
                <input type="file" name="file" id="file" />
                @Html.HiddenFor(model => model.Imagem)
                @Html.ValidationMessageFor(model => model.Imagem)
            </td>*@
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.DataMateria, new { @class = "col-md-2 control-label" })</td>
            <td>
                @Html.ValidationMessageFor(model => model.DataMateria)
                @Html.TextBoxFor(model => model.DataMateria, new { @class = "form-control" })
            </td>
        <tr>
            <td colspan="2" style="text-align:right"><input type="submit" value="Cadastrar" /></td>
        </tr>
    </table>

    @Html.ActionLink("Voltar para Noticias", "Index")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}