@model IEnumerable<Site_MVC_FinTech.Models.Noticia>

@{
    ViewBag.Title = "IndexListarNoticia";
}

<h2>Notícias de como foi desenvolvido nosso produto 'FinTech'.</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.IDNoticia)</th>
        <th>@Html.DisplayNameFor(model => model.Titulo)</th>
        <th>@Html.DisplayNameFor(model => model.Materia)</th>
        <th>@Html.DisplayNameFor(model => model.Imagem)</th>
        <th>@Html.DisplayNameFor(model => model.DataMateria)</th>
        <th></th>
    </tr>
    @*@foreach (var it in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelitem => it.IDNoticia)</td>
            <td>@Html.DisplayFor(modelitem => it.Titulo)</td>
            <td>@Html.DisplayFor(modelitem => it.Materia)</td>
            <td>@Html.DisplayFor(modelitem => it.Imagem)</td>
            <td>@Html.DisplayFor(modelitem => it.DataMateria)</td>
            <td>
                @Html.ActionLink("Editar", "EditarPessoa", new { id = it.IDNoticia }) |
                @Html.ActionLink("Excluir", "ExcluirPessoa", new { id = it.IDNoticia })
            </td>
        </tr>
    }*@
</table>
<br />
@Html.ActionLink("Voltar para Home", "IndexListarNoticia")