@model IEnumerable<Site_MVC_FinTech.Models.Noticia>

@{
    ViewBag.Title = "Noticia";
}

<div class="cliente-index">
    <div class="cliente-index-div">
        <h2>Desenvolvimento do produto</h2>
        <br />

        @foreach (var item in Model)
        {
            <section class="teste">
                <div class="noticiaimagem">
                    @{
                        var imgSrc = item.Image != null ? item.Image : "../Imagens/semfoto.jpeg";
                    }
                    <img src="@imgSrc" />
                </div>
                <div class="noticiaLista">
                    @Html.HiddenFor(model => item.IDNoticia)
                    <h2>@Html.DisplayFor(model => item.Titulo)</h2>
                    <p>@Html.DisplayFor(model => item.DataMateria)</p>
                    <p><em>@Html.DisplayFor(model => item.Materia) &nbsp;</em></p>
                </div>
            </section>
                        }
    </div>
</div>

<a href="#top" id="wt-top" class="wt_top_btn"><img class="topo" src="~/Imagens/iconup.svg"></a>


