@model IEnumerable<Site_MVC_FinTech.Models.Noticia>

@{
    ViewBag.Title = "ListarNoticia";
}

<h2>Cadastro Noticia</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.IDNoticia)</th>
        <th>@Html.DisplayNameFor(model => model.Titulo)</th>
        <th>@Html.DisplayNameFor(model => model.Materia)</th>
        <th>@Html.DisplayNameFor(model => model.Imagem)</th>
        <th>@Html.DisplayNameFor(model => model.DataMateria)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelitem => item.IDNoticia)</td>
            <td>@Html.DisplayFor(modelitem => item.Titulo)</td>
            <td>@Html.DisplayFor(modelitem => item.Materia)</td>
            <td>@Html.DisplayFor(modelitem => item.Imagem)</td>
            <td>@Html.DisplayFor(modelitem => item.DataMateria)</td>
            <td>
                @Html.ActionLink("Editar", "EditarNoticia", new { id = item.IDNoticia }) |
                @Html.ActionLink("Excluir", "ExcluirNoticia", new { id = item.IDNoticia })
            </td>
        </tr>
    }
</table>
<br />
@Html.ActionLink("Voltar para Home", "IndexNoticia")