@model IEnumerable<Site_MVC_FinTech.Models.Noticia>

@{
    ViewBag.Title = "Noticia";
}

<div>
    <h2 style="float:left; width:90%;">Noticias</h2>
    <span style="float:right; width:10%; margin-top:20px;"><a href="/Noticia/Cadastrar"><input type="submit" value="Cadastrar Noticia" /></a></span>
</div>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.IDNoticia)</th>
        <th>@Html.DisplayNameFor(model => model.Titulo)</th>
        <th>@Html.DisplayNameFor(model => model.Materia)</th>
        <th>@Html.DisplayNameFor(model => model.Image)</th>
        <th>@Html.DisplayNameFor(model => model.DataMateria)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelitem => item.IDNoticia)</td>
            <td>@Html.DisplayFor(modelitem => item.Titulo)</td>
            <td>@Html.DisplayFor(modelitem => item.Materia)</td>
            <td class="noticiaimagem">
                @{
                    var imgSrc = item.Image != null ? item.Image : "../Imagens/semfoto.jpeg";
                }
                <img src="@imgSrc" />
            </td>
            <td>@Html.DisplayFor(modelitem => item.DataMateria)</td>
            <td>
                @Html.ActionLink("Editar", "EditarNoticia", new { id = item.IDNoticia })
                @Html.ActionLink("Excluir", "ExcluirNoticia", new { id = item.IDNoticia })
            </td>
        </tr>
    }
</table>
<br />