<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FinTech</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FinTech", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Notícias", "Listar", "Noticia")</li>
                        <li>@Html.ActionLink("Clientes", "Listar", "Pessoa")</li>
                        <li>@Html.ActionLink("Contato", "Listar", "Contato")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Notícias", "Index", "Noticia")</li>
                        <li>@Html.ActionLink("Clientes", "Index", "Pessoa")</li>
                        <li>@Html.ActionLink("Contato", "Index", "Contato")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Site Institucional MVC - FINTECH | <a href="http://fiap.com.br"> <img src="~/Imagens/fiapicon.ico" /></a> </p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
