@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (FormsAuthentication.Decrypt(
                            Request.Cookies[FormsAuthentication.FormsCookieName].Value).UserData == "Admin")
    {
        using (Html.BeginForm("Sair", "Pessoa", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">

                <li>
                    @Html.ActionLink("Area Restrita " + User.Identity.GetUserName() + "", "AreaRestrita", "Pessoa", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
            </ul>
        }
    }
    else
    {
        using (Html.BeginForm("Sair", "Pessoa", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">

                <li>
                    @Html.ActionLink("Investidor " + User.Identity.GetUserName() + "", "AreaRestrita", "Investidor", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
            </ul>
        }
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Àrea Restrita", "Login", "Pessoa", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li><a class="btn btn-default" href="/Pessoa/Cadastrar">Cadastre-se</a></li>
    </ul>
}
