@model Site_MVC_FinTech.Models.Contato

@{
    ViewBag.Title = "CadastrarContato";
}

<h2>Contato</h2>


@using (Html.BeginForm())
{
    <table class="form-group">
        <div>
            <td>@Html.LabelFor(model => model.IDContato, new { @class = "col-md-2 control-label" })</td>
            <td>@Html.TextBoxFor(model => model.IDContato, new { @class = "form-control" })</td>
        </div>
        <tr>
            <td>@Html.LabelFor(model => model.NomeContato, new { @class = "col-md-2 control-label" })</td>
            <td>
                @Html.ValidationMessageFor(model => model.NomeContato)
                @Html.TextBoxFor(model => model.NomeContato, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.EmailContato, new { @class = "col-md-2 control-label" })</td>
            <td>
                @Html.ValidationMessageFor(model => model.EmailContato)
                @Html.TextBoxFor(model => model.EmailContato, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Mensagem, new { @class = "col-md-2 control-label" })</td>
            <td>
                @Html.ValidationMessageFor(model => model.Mensagem)
                @Html.TextBoxFor(model => model.Mensagem, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.DataMensagem, new { @class = "col-md-2 control-label" })</td>
            <td>
                @Html.ValidationMessageFor(model => model.DataMensagem)
                @Html.TextBoxFor(model => model.DataMensagem, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right"><input type="submit" value="Cadastrar" /></td>
        </tr>
    </table>
}
<address>
    Fiap - 3SIS <br />
    Av. Lins de Vanconcelos, 1222 - Aclimação <br />
    <abbr title="Phone">Tel:</abbr> (11) 3385-8010 <br />
    <abbr title="CEP">CEP:</abbr> 01538-001, São Paulo - SP <br />
    <strong>Support:</strong>   <a href="mailto:am3sis@fintech.com">am3sis@fintech.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@fintech.com">marketing@fintech.com</a>
</address>

@Html.ActionLink("Voltar para Contato", "IndexContato")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}