@model IEnumerable<Site_MVC_FinTech.Models.Contato>

@{
    ViewBag.Title = "Contato";
}

<h2>Listar Contatos</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.IDContato)</th>
        <th>@Html.DisplayNameFor(model => model.NomeContato)</th>
        <th>@Html.DisplayNameFor(model => model.EmailContato)</th>
        <th>@Html.DisplayNameFor(model => model.Mensagem)</th>
        <th>@Html.DisplayNameFor(model => model.DataMensagem)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.IDContato)</td>
            <td>@Html.DisplayFor(model => item.NomeContato)</td>
            <td>@Html.DisplayFor(model => item.EmailContato)</td>
            <td>@Html.DisplayFor(model => item.Mensagem)</td>
            <td>@Html.DisplayFor(model => item.DataMensagem)</td>
            <td>
                @Html.ActionLink("Editar", "EditarContato", new { id = item.IDContato }) |
                @Html.ActionLink("Excluir", "ExcluirContato", new { id = item.IDContato })
            </td>
        </tr>
    }

</table>